<!DOCTYPE html>
<html ng-app="loginPage" ng-controller="loginPageController">
<head lang="en">
    <meta charset="utf-8" />
    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title ng-bind="lp.title"></title>
</head>
<body>

    <div class="login-page">
        <h1 ng-bind="lp.title"></h1>
        <label class="select">
            <select ng-change="language.select()" ng-model="language.selected">
                <option value="EN">EN</option>
                <option value="RU">RU</option>
            </select>
        </label>
        <form name="SignIn">
            <label class="user-name">{{lp.userNameLabel}}
                <input type="text" ng-model="lp.userName" required />
            </label>
            <label class="password">{{lp.passwordLabel}}
                <input type="password" ng-model="lp.password" required />
            </label>
            <a class="sign-in" href="pages/newPage.html" ng-bind="lp.button"></a>
        </form>
    </div>

    <script type="text/javascript" src="js/libraries/angular.min.js"></script>
    <script type="text/javascript" src="js/loginPageController.js"></script>
</body>
</html>